body {
  background-image: url("CapyHome.png");
  background-repeat: no-repeat;
  background-size: cover;
  /*background-position: center; */

}

h1 {
  text-align: center;
  position: relative;
  font-size: 55px;
  font-family: 'Brush Script MT', cursive;
  background: linear-gradient(to right, #ef5350, #f48fb1, #7e57c2, #2196f3, #26c6da, #43a047, #eeff41, #f9a825, #ff5722);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

.navbar-brand {
  font-size: 35px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: white;
}

.navbar-nav {
  font-size: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;

}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 350px;
  width: 350px;

}

.addIng {
  color: black;
  font-size: 25px;
}

.list-group-item {
  color: black;
  font-size: 20px;
  border-color: black;
  border-style: dashed;
}

.form-control {
  font-size: 20px;

}

.list-group {
  border-color: black;
  border-style: dashed;
}

.col {
  background-color: white;
  font-size: 30px;
}

.tag {
  font-size: 15px;
}

.row {
  background-color: white;
  padding: 5px;
  border-color: black;
  border-style: dashed;
  font-size: 30px
}

.container {
  padding: 20px
}

.favorite {
  float: right;
}

.addRec {}